
## Sample config for apache 2.4.x webserver


##  PATH_TO_WWW_DATA -|
##                    |- www |
##                    |      |- mt-api     - app
##                    |      |- css        - directory
##                    |      |- images     - directory
##                    |      |- js         - directory
##                    |
##                    |- data              - directory for templates etc.
##                    |- log               - log files

<macro coolithekOptions $domainRoot>
	ServerAdmin ADMIN@MAIL

	DocumentRoot "$domainRoot/www"

	ErrorLog $domainRoot/log/error.log
	CustomLog $domainRoot/log/access.log combined

	ErrorDocument 403 /403page.html 
	ErrorDocument 404 /404page.html 

	<Directory "$domainRoot/www">
		Options +ExecCGI -Includes +FollowSymLinks
		AllowOverride All
		Require all granted
		
		<Files "mt-api">
			SetHandler cgi-script
		</Files>
		DirectoryIndex mt-api

		RewriteEngine On
		RewriteBase /
		## index.html => mt-api?mode=index
		RewriteRule (.*)\.html$ mt-api?mode=$1 [L]
		## /index/start => mt-api?mode=index&sub=start
		## /index/      => mt-api?mode=index&sub=
		RewriteRule (.*)/(.*)$ mt-api?mode=$1&sub=$2 [L]
	</Directory>

	<DirectoryMatch "$domainRoot/www/(css|images|js)">
		Options -ExecCGI
		AllowOverride None
		RewriteEngine Off
	</DirectoryMatch>
</macro>

<VirtualHost *:80>
	ServerName DOMAIN.TLD
	Redirect permanent / https://DOMAIN.TLD/
</VirtualHost>

<VirtualHost *:443>
	ServerName DOMAIN.TLD

	## ssl certifikat
	SSLEngine on
	SSLCertificateFile PATH_TO_CERTIFICAT/fullchain.pem
	SSLCertificateKeyFile PATH_TO_CERTIFICAT/privkey.pem

	## optional: HSTS header
	Header always set Strict-Transport-Security "max-age=31556926"

	use coolithekOptions PATH_TO_WWW_DATA
</VirtualHost>
